# Python Language Intro (Part 3)

## Agenda

1. Language overview
2. White space sensitivity
3. Basic Types and Operations
4. Statements & Control Structures
5. Functions
6. OOP (Classes, Methods, etc.)
7. Immutable Sequence Types (Strings, Ranges, Tuples)
8. Mutable data structures: Lists, Sets, Dictionaries

In [1]:
# by default, only the result of the last expression in a cell is displayed after evaluation.
# the following forces display of *all* self-standing expressions in a cell.

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 7. Immutable Sequence Types: Strings, Ranges, Tuples

Recall: All immutable sequences support the [common sequence operations](https://docs.python.org/3/library/stdtypes.html#common-sequence-operations). For many sequence types, there are constructors that allow us to create them from other sequence types.

### Strings

In [2]:
'hello'

'hello'

you can get the length, substring, etc

### Ranges

In [3]:
range(10)

range(0, 10)

In [4]:
range(10, 20)

range(10, 20)

In [5]:
range(20, 50, 5)

range(20, 50, 5)

In [6]:
range(10, 0, -1)

range(10, 0, -1)

### Tuples

In [7]:
()

()

In [8]:
(1, 2, 3)

(1, 2, 3)

In [9]:
('a', 10, False, 'hello')

('a', 10, False, 'hello')

In [10]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [11]:
tuple('hello')

('h', 'e', 'l', 'l', 'o')

str, ranges, tuples r all immutable: cannot be changed once created

+ makes them more useful bc passing around a string cannot be used when being referenced
+ stable, but mutability is useful
+ handing a mutable reference to someone else, they can alter that structure

## 8. Mutable data structures: Lists, Sets, Dicts

### Lists

This list supports  the [mutable sequence operations](https://docs.python.org/3/library/stdtypes.html#mutable-sequence-types) in addition to the [common sequence operations](https://docs.python.org/3/library/stdtypes.html#common-sequence-operations).

In [12]:
l = [1, 2, 1, 1, 2, 3, 3, 1]

In [13]:
len(l)

8

In [14]:
l[5]

3

In [15]:
l[1:-1]

[2, 1, 1, 2, 3, 3]

In [16]:
l + ['hello', 'world']

[1, 2, 1, 1, 2, 3, 3, 1, 'hello', 'world']

In [17]:
l # `+` does *not* mutate the list!

[1, 2, 1, 1, 2, 3, 3, 1]

In [18]:
l * 3

[1, 2, 1, 1, 2, 3, 3, 1, 1, 2, 1, 1, 2, 3, 3, 1, 1, 2, 1, 1, 2, 3, 3, 1]

In [19]:
sum = 0
for x in l:
    sum += x
sum

14

#### Mutable list operations

In [20]:
l = list('hell')

In [21]:
l.append('o')

different from l += 'o' because this creates a new string from the original string

In [22]:
l

['h', 'e', 'l', 'l', 'o']

In [23]:
l.append(' there')

In [24]:
l

['h', 'e', 'l', 'l', 'o', ' there']

In [25]:
del l[-1]

In [26]:
l.extend(' there')

In [27]:
l

['h', 'e', 'l', 'l', 'o', ' ', 't', 'h', 'e', 'r', 'e']

In [28]:
l[2:7]

['l', 'l', 'o', ' ', 't']

In [29]:
del l[2:7]

In [30]:
l

['h', 'e', 'h', 'e', 'r', 'e']

In [32]:
l[:] #shorthand way to create a copy of the list

['h', 'e', 'h', 'e', 'r', 'e']

multiples/doubles are possible in lists

#### List comprehensions

+ syntactic sugar for initializing a list

In [36]:
[x for x in range(10)] #syntax for list comprehension

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
[2*x+1 for x in range(10)] # odd numbers
#each value of x from range(10) is placed into 2*x+1

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [39]:
#u can make it a tuple n individual lists too (a list of lists)
[[x, x+1, x+2] for x in range(10)]

[[0, 1, 2],
 [1, 2, 3],
 [2, 3, 4],
 [3, 4, 5],
 [4, 5, 6],
 [5, 6, 7],
 [6, 7, 8],
 [7, 8, 9],
 [8, 9, 10],
 [9, 10, 11]]

In [38]:
# pythagorean triples
n = 50
#(a, b, c) is defining it as a tuple upfront
[(a,b,c) for a in range(1,n) 
         for b in range(a,n) 
         for c in range(b,n) 
         if a**2 + b**2 == c**2]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (12, 16, 20),
 (12, 35, 37),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (18, 24, 30),
 (20, 21, 29),
 (21, 28, 35),
 (24, 32, 40),
 (27, 36, 45)]

In [41]:
adjs = ('hot', 'blue', 'quick')
nouns = ('table', 'fox', 'sky')
phrases = []
for adj in adjs:
    for noun in nouns:
        phrases.append(adj + ' ' + noun)

In [42]:
phrases

['hot table',
 'hot fox',
 'hot sky',
 'blue table',
 'blue fox',
 'blue sky',
 'quick table',
 'quick fox',
 'quick sky']

In [43]:
nps = [adj + ' ' + noun for adj in adjs for noun in nouns] 
#a much more legible way to write list comprehensions

In [44]:
nps

['hot table',
 'hot fox',
 'hot sky',
 'blue table',
 'blue fox',
 'blue sky',
 'quick table',
 'quick fox',
 'quick sky']

In [45]:
nps.sort(reverse=True) #if just .sort() will be ascending order

theres a sort algorithm in the background

In [46]:
nps #descending order now

['quick table',
 'quick sky',
 'quick fox',
 'hot table',
 'hot sky',
 'hot fox',
 'blue table',
 'blue sky',
 'blue fox']

### Sets

A [set](https://docs.python.org/3.7/library/stdtypes.html#set-types-set-frozenset) is a data structure that represents an *unordered* collection of unique objects (like the mathematical set). 
+ the order of items when making a set is lost, automatically deduplicates/unique-cify the items given
+ typed with {} when lists is typed with []

In [47]:
s = {1, 2, 1, 1, 2, 3, 3, 1}

In [50]:
s

{1, 2, 3}

In [51]:
s[0] #an error bc u cannot get an instant of a set

TypeError: 'set' object is not subscriptable

In [52]:
for x in s: 
    print(x)
#order is not guaranteed

1
2
3

In [55]:
l = [1, 2, 1, 1, 2, 3, 3, 1]

In [56]:
l

[1, 2, 1, 1, 2, 3, 3, 1]

to get rid of duplicates in a list, you would do the following

In [57]:
l = list(set(l))

In [58]:
l

[1, 2, 3]

In [59]:
t = {2, 3, 4, 5} #and s = {1, 2, 3}

union, difference, intersection are methods supported by set types

In [60]:
s.union(t) #creating the valuing of s

{1, 2, 3, 4, 5}

In [61]:
s.difference(t) #same as s - t, performing the difference operator

{1}

In [62]:
s.intersection(t)

{2, 3}

In [66]:
{ (n//2) for n in range (10)} 
#only unique answers, can be converted to a list using list[]

{0, 1, 2, 3, 4}

In [67]:
[(n//2) for n in range (10)]

[0, 0, 1, 1, 2, 2, 3, 3, 4, 4]

### Dicts

A [dictionary](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict) is a data structure that contains a set of unique key &rarr; value mappings. (set implies uniqueness)
+ set n dict uses {}, but dict uses colons

In [68]:
d = {
    'Superman':  'Clark Kent',
    'Batman':    'Bruce Wayne',
    'Spiderman': 'Peter Parker',
    'Ironman':   'Tony Stark'
}

In [71]:
d['Ironman'] #numeric indexes would not work
#keys are unique, indexes are not

'Tony Stark'

In [70]:
d[0] #does not exist

KeyError: 0

In [72]:
for x in d: 
    print(x)
    #u get the key values

Superman
Batman
Spiderman
Ironman

In [73]:
for x in d: 
    print(x, '=>', d[x])

Superman => Clark Kent
Batman => Bruce Wayne
Spiderman => Peter Parker
Ironman => Tony Stark

In [74]:
d.keys()

dict_keys(['Superman', 'Batman', 'Spiderman', 'Ironman'])

In [75]:
d.values()

dict_values(['Clark Kent', 'Bruce Wayne', 'Peter Parker', 'Tony Stark'])

In [76]:
d.items() #turns into a list

dict_items([('Superman', 'Clark Kent'), ('Batman', 'Bruce Wayne'), ('Spiderman', 'Peter Parker'), ('Ironman', 'Tony Stark')])

In [77]:
for k,v in d.items(): #assigning k&v for the values in d.items, which is a list 
    print(k, '=>', v) #phrases the output the same as before

Superman => Clark Kent
Batman => Bruce Wayne
Spiderman => Peter Parker
Ironman => Tony Stark

In [ ]:
d['Ironman'] = 'James Rhodes'

In [ ]:
d

#### Dictionary comprehensions

In [78]:
{e:2**e for e in range(0,100,10)} 
# a key followed by a value in the definition

{0: 1,
 10: 1024,
 20: 1048576,
 30: 1073741824,
 40: 1099511627776,
 50: 1125899906842624,
 60: 1152921504606846976,
 70: 1180591620717411303424,
 80: 1208925819614629174706176,
 90: 1237940039285380274899124224}

In [79]:
{x:y for x in range(3) for y in range(10)}
#x takes on 0 to 2 and y takes on 0 to 9

{0: 9, 1: 9, 2: 9}

makes no sense to assign mutliple values to the same keys, so it goes to the last assignment which is 0 to 2 to 9

In [81]:
sentence = 'a man a plan a canal panama'
{w:w[::-1] for w in sentence.split()}
#maps a word to the inverse of each word

{'a': 'a', 'man': 'nam', 'plan': 'nalp', 'canal': 'lanac', 'panama': 'amanap'}

In [82]:
d = {} #empty dict
lst = [1, 2, 3] #list declaration
d[lst] = "hello" #associate list to 'hello'
lst.append(5) #add 5 to lst 
d[[1, 2, 3]] #would u get back hello? or 1, 2, 3, 5 need to be hello now?

TypeError: unhashable type: 'list'

cannot use a mutable structure for keys in a dictionary, bc u can change a mutable structure while keys are not meant to be changed!!!

## Demo